/* RESET */
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/* RESET */

/* GENERAL */
.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.margin-30{
    margin: 30px 0;
}

i{
    font-size: 50px;
    margin: 30px 0px;
}
/* GENERAL */

/* BUTTONS */

.btn{
    border: none;
    padding: 8px 14px;
    color: white;
    background-color: #0D4093;
    cursor: pointer;
    }
/* BUTTONS */

/* TYPO */
.roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
  }
/* TYPO */


/* HEADER */
a{
    text-decoration: none;
    color: black;
}

nav{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    align-items: center;
    line-height: 32px;
    margin: 10px 8px;
}

.nav-left{
    display: flex;
    gap: 20px;
    margin-left: 8px;
    
}

.nav-right{
    display: flex;
    gap: 20px;
    margin-right: 8px;
    
}
/* HEADER */

/* MAIN */
h1{
    padding: 40px;
    font-size: 90px;
    margin-left: 120px;
    margin-bottom: -35px;
}

.buisness{
font-size: 23px;

}

.jumbo{
    background-color: #B4D0E6;
}

.col-small{
    width: 40%;
    margin-top: 70px;
}

.col-bigger{
    width: 60%;
}

.jumbo-img{
    position: relative;
    top: 70px;
}